.site-footer {
    @extend %padding-regular;
    // TPR - Reduce size between mail form and Created by footer
    padding-top: 3%;

    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 30%);
    font-size: 0.9em;

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
            a:hover {
                color: darken($link-color, 15%);
            }
        }
    }
}
